<!-- Put the HTML template for your page here! -->
<!doctype html>
    <html>
        <head>
                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        </head>
        <body>
            <h1> SWIMMING!</h1>
            {% if like_same_sport==False %}
                <p>swimming is one of the most important sports , because it trains almost all of the muscles in the body</p>
            {% else %}
              <h2>top golden medals</h2>
                <ul>
                    {% for i in player_list %}
                    <li>{{i}}</li>
                    {% endfor %}
                 </ul>
                 {% endif %}
        </body>
    </html>
